Sensotrend/Service References/TaltioniService/Taltioni2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.medixine.com/2008/12/fault" elementFormDefault="qualified" targetNamespace="http://schemas.medixine.com/2008/12/fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReceiverFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ReceiverFaultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiverFault" nillable="true" type="tns:ReceiverFault" />
  <xs:simpleType name="ReceiverFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InternalServerError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReceiverFaultCode" nillable="true" type="tns:ReceiverFaultCode" />
  <xs:complexType name="SenderFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:SenderFaultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SenderFault" nillable="true" type="tns:SenderFault" />
  <xs:simpleType name="SenderFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccessDenied" />
      <xs:enumeration value="ValidationError" />
      <xs:enumeration value="MalformedRequest" />
      <xs:enumeration value="NotFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SenderFaultCode" nillable="true" type="tns:SenderFaultCode" />
</xs:schema>