Sensotrend/Service References/TaltioniService/Taltioni4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Medixine.Model.Services" elementFormDefault="qualified" targetNamespace="Medixine.Model.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMultiLanguageValueItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultiLanguageValueItem" nillable="true" type="tns:MultiLanguageValueItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultiLanguageValueItem" nillable="true" type="tns:ArrayOfMultiLanguageValueItem" />
  <xs:complexType name="MultiLanguageValueItem">
    <xs:sequence>
      <xs:element name="LangCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultiLanguageValueItem" nillable="true" type="tns:MultiLanguageValueItem" />
</xs:schema>